.row:after {
    content: "";
    display: block;
    clear: both;
}

.col {
    color: #000000;
    float: left;
}

.col-25 {
    height: 300px;
    width: 25%;
}

.col-25:nth-of-type(odd) {
    background-color: #e6e6ff;
}

.col-25:nth-of-type(even) {
    background-color: #ffffb3;
}

body {
    background-color: #5200cc;
    color: #ffffff;
    font-family: 'Caveat', cursive;
    font-variant: small-caps;
    text-align: center;
}